<p>
  <strong>Place:</strong>
  <%= @review.place %>
</p>
 
<p>
  <strong>Review:</strong>
  <%= @review.info %>
</p>

<h2>Comments</h2>
<%= render @review.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', reviews_path %>
<%= link_to "Edit", edit_review_path(@review) %>